* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  border: solid red 2px;
  flex: 1 1;
}
section {
  display: flex;
  border: solid black 2px;
  flex: 6 1;
}
.container-configurations {
  flex: 1 1;
  border: rgb(0, 0, 255) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.configurations {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: orange dotted 2px;
  flex: 1 1;
}
.container-grid {
  flex: 1 1;
  border: rgb(255, 0, 0) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: flex;
  max-width: 80%;
  max-height: 80%;
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;
}

footer {
  flex: 1 1;
  border: solid green 2px;
}

.pintado {
  background-color: black;
  aspect-ratio: 1 / 1;
  border: rgb(0, 0, 0) solid 1px;
}
.pixel {
  aspect-ratio: 1 / 1;
  border: black solid 1px;
}
